* {
  margin: 0;
  padding: 0;
  font-family: "Anton", sans-serif;
  font-family: "Kaushan Script", cursive;
}

.App {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
